
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
@import url('/static/Fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');

:root {
    --BackgroundColor: rgb(31, 31, 31);
    --MostDarkBackground: rgb(15, 14, 14);
    --MediumDarkBackground: rgb(22, 22, 23);
    --LightDarkBackground: rgb(46, 47, 47);
    --PrimaryTextColor: rgb(255, 254, 254);
    --SecondaryTextColor: rgb(206, 4, 4);
    --HoverTextColor: rgb(153, 152, 153);
    --DefaultBorderRadios: 10px;
    --BeautifulDropShadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    /* Off-white shadow */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    color: var(--PrimaryTextColor);
    font-family: "Ubuntu Mono", monospace;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background: var(--BackgroundColor);
}

nav {
    position: fixed;
    background: var(--BackgroundColor);
    /* Keeps the navbar fixed at the top */

    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* Adds padding for a cleaner look */
    box-shadow: var(--BeautifulDropShadow);
    z-index: 1000;
    /* Ensures it stays above other content */
}

.Logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1vw;

}

.NavItems {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    /* border-bottom: 2px solid var(--SecondaryTextColor); */

}

.NavItems a {
    height: max-content;
    padding: 10px 10px;
    border-radius: var(--DefaultBorderRadios);
    background: var(--LightDarkBackground);
    transition: 0.4s ease-in-out;
}

.Github {
    width: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1vw;
    padding: 10px 10px;
    border-radius: var(--DefaultBorderRadios);
    transition: 0.4s ease-in-out;
    background: var(--LightDarkBackground);
}

.Github:hover,
.NavItems a:hover {
    transition: 0.4s ease-in-out;
    box-shadow: 1px 1px 2px 2px rgba(3, 3, 3, 0.1);
    outline: 2px solid black;
}

.Github img {
    margin-left: 10px;
}

footer {
    margin: 5vh 0;
    text-align: center;
}